body
{
   background-color: #FFF0F5;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #171717;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 83.33333333%;
   text-align: left;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100%;
}
}
.ThemeableMenu1 .hide 
{
   display: none!important;
}
.ThemeableMenu1 .show 
{
   display: block!important;
}
.ThemeableMenu1 .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.ThemeableMenu1 .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   color: #2B2B2B;
   text-align: left;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.ThemeableMenu1 .nav:before,
.ThemeableMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .nav:after 
{
   clear: both;
}
.ThemeableMenu1 .nav a 
{
   text-decoration: none;
}
.ThemeableMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.ThemeableMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.ThemeableMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.ThemeableMenu1 .container:before,
.ThemeableMenu1 .container:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .container:after 
{
   clear: both;
}
.ThemeableMenu1 .collapse 
{
   display: none;
}
.ThemeableMenu1 .collapse.show 
{
   display: block;
}
.ThemeableMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.ThemeableMenu1 .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.ThemeableMenu1 .dropdown 
{
   position: relative;
}
.ThemeableMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.ThemeableMenu1 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #2B2B2B;
   white-space: nowrap;
}
.ThemeableMenu1 .dropdown-menu>li>a:hover,
.ThemeableMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .dropdown-menu>li>a.active,
.ThemeableMenu1 .dropdown-menu>li>a.active:hover,
.ThemeableMenu1 .dropdown-menu>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.ThemeableMenu1 .show>.dropdown-menu 
{
   display: block;
}
.ThemeableMenu1 .show>a 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.ThemeableMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.ThemeableMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.ThemeableMenu1 .nav>li>a 
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.ThemeableMenu1 .nav .show>a,
.ThemeableMenu1 .nav .show>a:hover,
.ThemeableMenu1 .nav .show>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.ThemeableMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .nav>li>a>img 
{
   max-width: none;
}
.ThemeableMenu1 .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.ThemeableMenu1
{
   position: relative;
}
.ThemeableMenu1:before,
.ThemeableMenu1:after
{
   content: " ";
   display: table;
}
.ThemeableMenu1:after
{
   clear: both;
}
.ThemeableMenu1 .navbar-header:before,
.ThemeableMenu1 .navbar-header:after
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .navbar-header:after
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.ThemeableMenu1-navbar-collapse:before,
.ThemeableMenu1-navbar-collapse:after
{
   content: " ";
   display: table;
}
.ThemeableMenu1-navbar-collapse:after
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse.show 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 16px 10px 15px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.ThemeableMenu1 .navbar-nav
{
   margin: 6px -15px;
}
.ThemeableMenu1 .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.ThemeableMenu1 .navbar-nav>li>a
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.ThemeableMenu1 .navbar-nav>li>a.active,
.ThemeableMenu1 .navbar-nav>li>a.active:hover,
.ThemeableMenu1 .navbar-nav>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .navbar-toggle
{
   border: 1px solid rgba(43,43,43,0.10);
}
.ThemeableMenu1 .navbar-toggle:hover,
.ThemeableMenu1 .navbar-toggle:focus
{
   background-color: transparent;
}
.ThemeableMenu1 .navbar-toggle .icon-bar
{
   background-color: #FFDEAD;
}
.ThemeableMenu1-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.show>a,
.ThemeableMenu1 .navbar-nav>.show>a:hover,
.ThemeableMenu1 .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.show>a .caret,
.ThemeableMenu1 .navbar-nav>.show>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-link
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-link:hover
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-header
{
   color: #FFDEAD;
}
@media (min-width: 480px) 
{
.ThemeableMenu1 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.ThemeableMenu1 .navbar-header
{
   float: left;
}
.ThemeableMenu1-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.ThemeableMenu1-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.ThemeableMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle
{
   display: none;
}
.ThemeableMenu1 .navbar-nav 
{
   float: right;
   margin: 0;
}
.ThemeableMenu1 .navbar-nav>li 
{
   float: left;
}
.ThemeableMenu1 .container>.navbar-header,
.ThemeableMenu1 .container>.ThemeableMenu1-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
}
@media (max-width: 480px) 
{
.ThemeableMenu1 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(23,23,23,1.00);
}
.ThemeableMenu1 .navbar-nav
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.ThemeableMenu1 .navbar-nav .show .dropdown-menu>li>a,
.ThemeableMenu1 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.ThemeableMenu1 .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 480px) 
{
.ThemeableMenu1 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(23,23,23,1.00);
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-nav>li>a 
{
   color: #FFDEAD;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus
{
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>li>a.active,
.ThemeableMenu1 .navbar-nav>li>a.active:hover,
.ThemeableMenu1 .navbar-nav>li>a.active:focus
{
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.show>a,
.ThemeableMenu1 .navbar-nav>.show>a:hover,
.ThemeableMenu1 .navbar-nav>.show>a:focus
{
   background-color: transparent;
   background-image: none;
   color: #007BFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFDEAD;
   border-bottom-color: #FFDEAD;
}
.ThemeableMenu1 .navbar-nav > li > a.active > .caret,
.ThemeableMenu1 .navbar-nav > li > a.active:hover > .caret,
.ThemeableMenu1 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.ThemeableMenu1 .navbar-nav>.show>a .caret,
.ThemeableMenu1 .navbar-nav>.show>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.ThemeableMenu1 .navbar-link
{
   color: #FFDEAD;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#ThemeableMenu1 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#ThemeableMenu1 i
{
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
#ThemeableMenu1 .home:before
{
   content: "\e88a";
}
#ThemeableMenu1 .dashboard:before
{
   content: "\e871";
}
#ThemeableMenu1 .account-circle:before
{
   content: "\e853";
}
#ThemeableMenu1 .shopping-cart:before
{
   content: "\e8cc";
}
#ThemeableMenu1 .notifications:before
{
   content: "\e7f4";
}
#ThemeableMenu1 li
{
   color: #A2A2A2;
   -webkit-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu1 li:hover
{
   color: #007BFF;
   -webkit-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu1 li a
{
   color: #A2A2A2;
   -webkit-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu1 li a:hover
{
   color: #007BFF;
   -webkit-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_ThemeableMenu1
{
   z-index: 1111 !important;
}
#wb_Carousel1
{
   background-color: #F2F5F7;
   background-image: none;
}
#Carousel1 .frame
{
   width: 970px;
   display: inline-block;
   float: left;
   height: 306px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 12px 12px 12px 12px;
}
#wb_Carousel1 .carousel-control-next, #wb_Carousel1 .carousel-control-prev
{
   position: absolute;
   top: 0px;
   left: 0px;
   color: #000000;
   cursor: pointer;
   text-align: center;
   opacity: 0.5;
}
#wb_Carousel1 .carousel-control-next-icon, #wb_Carousel1 .carousel-control-prev-icon 
{
   display: inline-block;
   width: 20px;
   height: 20px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#wb_Carousel1 .carousel-control-next:focus, #wb_Carousel1 .carousel-control-next:hover, #wb_Carousel1 .carousel-control-prev:focus, #wb_Carousel1 .carousel-control-prev:hover 
{
   color: #000000;
   text-decoration: none;
   outline: 0;
   opacity: .9;
}
#wb_Carousel1 .carousel-control-prev-icon 
{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#wb_Carousel1 .carousel-control-next-icon 
{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#Carousel1_back
{
   position: absolute;
   left: 4px;
   top: 46%;
   width: 20px;
   height: 20px;
   z-index: 999;
}
#Carousel1_next
{
   position: absolute;
   right: 4px;
   top: 46%;
   width: 20px;
   height: 20px;
   z-index: 999;
}
#Carousel1_back img, #Carousel1_next img
{
   border-width: 0;
}
#Carousel1_back a, #Carousel1_next a
{
   cursor: pointer;
}
#Carousel1 .frame-1
{
   background-color: #87CEFA;
   background-image: none;
}
#Carousel1 .frame-2
{
   background-color: #00FF00;
   background-image: none;
}
#Carousel1 .frame-3
{
   background-color: transparent;
}
#Banner1
{
   background-color: #ADD8E6;
   background: linear-gradient(to top, #ADD8E6 0%, #00FEFE 100%);
   border: 2px solid #0963AD;
   color: #000000;
   font-family: Georgia;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   text-align: center;
   margin: 0;
}
#Banner1 span
{
   display: block;
   height: 29px;
   margin: 17px 0px 17px 0px;
}
#Banner1 .single-char
{
   float: left;
}
#Banner1 div
{
   display: inline-block;
   text-align: center;
}
.Banner1_ShowAnimation
{
   -webkit-animation: animate-background 1000ms linear 0s 1 normal both;
   animation: animate-background 1000ms linear 0s 1 normal both;
}
.Banner1_HideAnimation
{
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
.ui-dialog.ui-widget
{
   font-size: 1em !important;
   z-index: 9999 !important;
}
.popupForm.ui-dialog
{
   background-color: #D0A667;
   background-image: none;
   border: 1px solid #000000;
   display: none;
   margin: 30px 0px 0px 0px;
   padding: 4px 4px 4px 4px;
}
.popupForm.ui-dialog .ui-dialog-title
{
   color: #000000;
   font-family: Georgia;
   font-weight: bold;
   font-size: 29px;
   font-style: normal;
   margin: 0;
}
.popupForm.ui-dialog .ui-dialog-titlebar
{
   background-color: #7CB4DC;
   background-image: none;
   border: 1px solid #000000;
   font-weight: bold;
   padding: 10px 10px 10px 10px;
}
.popupForm.ui-dialog .ui-dialog-titlebar-close
{
   outline: 0;
   right: 14px;
}
.popupForm, .popupForm .ui-corner-all
{
   border-radius: 2px;
}
#popupForm.ui-dialog-content
{
   overflow: visible;
   padding: 15px 15px 15px 15px;
   font-size: 0px;
   text-align: left;
}
.popupForm .ui-dialog-buttonpane .ui-dialog-buttonset
{
   float: right;
}
.popupForm .ui-dialog-buttonpane
{
   text-align: right;
}
#wb_popupTitle 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_popupTitle
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_popupTitle div
{
   text-align: left;
}
#wb_popupTitle
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#nameLabel
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#name
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 18px;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#name:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#emailLabel
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#email
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 18px;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#email:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#messageLabel
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#message
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 10px 0px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#message:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#submitButton
{
   border: 2px solid #27CED7;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1
{
   border: 2px solid #2E6DA4;
   border-radius: 4px;
   background-color: #6EAC1C;
   background-image: none;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2
{
   border: 2px solid #2E6DA4;
   border-radius: 4px;
   background-color: #6EAC1C;
   background-image: none;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3
{
   border: 2px solid #2E6DA4;
   border-radius: 4px;
   background-color: #6EAC1C;
   background-image: none;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
